// ===== HERO - section >>> ===================================================

.hero-contacts {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 53.539254%; /* 416/777 */
		top: 0;
		left: 0;
		right: 0;
		background-color: $neutral-white-6;
	}
	// .hero-contacts__container
	&__container {
	}

	// .hero-contacts__wrapper
	&__wrapper {
		position: relative;

		max-width: toRem(1074);
		margin: 0 auto;
	}

	// .hero-contacts__title
	&__title {
		margin-bottom: toRem(52);

		text-align: center;

		// Animation
		opacity: 0;
		transform: scale(1.1);

		// Animation
		&._watcher-view {
			opacity: 1;
			transform: scale(1) translate(0, 0);
			transition:
				transform 1s ease 0.3s,
				opacity 1s ease 0.3s;
		}
	}

	// .hero-contacts__calling
	&__calling {
		display: flex;
		gap: toRem(27);

		max-width: toRem(1074);
		margin: 0 auto;

		// Animation >>>>>>>>>>>>>
		&._watcher-view .cont-call {
			opacity: 1;
			transform: translate(0, 0);
			transition:
				transform 1.5s ease 0.6s,
				opacity 1.5s ease 0.8s;
		}
		// >>>>>>>>>>>>> Animation

		@media (max-width: $tablet) {
			gap: toRem(15);
		}

		@media (max-width: em(650)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(30);
		}
	}
}

.cont-call {
	flex: 1 1 auto;

	max-width: toRem(525);
	padding: toRem(45) toRem(30) toRem(56);

	border-radius: toRem(7);
	box-shadow: 0px 2.66px 12.62px 0px rgba(179, 179, 179, 0.25);
	background: rgb(255, 255, 255);

	// Animation >>>>>>>>>>>>>
	opacity: 0;
	&:first-child {
		transform: translate(-80%, 0);
	}
	&:last-child {
		transform: translate(80%, 0);
	}

	// >>>>>>>>>>>>> Animation

	@media (max-width: $mobile) {
		padding: toRem(45) toRem(15) toRem(56);
	}

	// .cont-call__wrapper
	&__wrapper {
		display: grid;
		grid-template-rows: auto auto 1fr;
		grid-gap: toRem(20);
		text-align: center;
		align-items: center;
		justify-content: center;

		height: 100%;
		max-width: toRem(353);
		margin: 0 auto;
	}

	// .cont-call__image
	&__image {
		justify-self: center;

		aspect-ratio: 255 / 158;
		width: 72.23796%; /* 255/353 */
		margin-bottom: toRem(14);
	}

	// .cont-call__content
	&__content {
	}

	// .cont-call__title
	&__title {
		margin-bottom: toRem(14);
	}

	// .cont-call__txt
	&__txt {
	}

	// .cont-call__btn
	&__btn {
		align-self: end;
		justify-self: center;
	}
}

// =================================================== >>> HERO - section =====
