.our-services {
	// .our-services__container
	&__container {
	}

	// .our-services__wrapper
	&__wrapper {
		max-width: toRem(1075);
		margin: 0 auto;

		@media (max-width: $tablet) {
			margin: 0 toRem(-15);
		}
	}

	// .our-services__title
	&__title {
		margin-bottom: toRem(32);
		margin: toRem(0) toRem(15) toRem(32);

		text-align: center;
	}

	// .our-services__body
	&__body {
		margin-bottom: toRem(65);

		padding: toRem(45) toRem(15) toRem(52);

		background: linear-gradient(133.24deg, rgb(12, 8, 30) 0%, rgb(12, 5, 33) 80.494%);

		@media (min-width: $tablet) {
			padding: toRem(60) toRem(60) toRem(67);
			border-radius: toRem(11);
		}
	}

	// .our-services__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(55);
		}
	}

	// .our-services__item .serv-list
	& .serv-list {
		&:first-child {
			&::before {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				top: toRem(-230);
				right: toRem(-310);
				background-image: url("@img/services/glare-first-right.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}

			&::after {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				bottom: toRem(-180);
				left: toRem(-290);
				background-image: url("@img/services/glare-first-left.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		&:last-child {
			&::before {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				top: toRem(-160);
				right: toRem(-290);
				background-image: url("@img/services/glare-last-right.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}

			&::after {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				bottom: toRem(-260);
				left: toRem(-300);
				background-image: url("@img/services/glare-last-left.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	// .our-services__item .serv-list__list
	& .serv-list__list {
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		grid-column-gap: toRem(49);
		justify-content: space-between;

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}

	// .our-services__btn-block
	&__btn-block {
		display: flex;
		gap: toRem(34);
		justify-content: center;
		align-items: center;

		& h3 {
			font-family: "Proxima Nova", sans-serif;
			font-size: toRem(24);
			font-weight: 900;
			line-height: 121%;
			text-transform: uppercase;
		}

		& button {
			position: relative;
		}
	}
}
