// ===== HERO - section >>> ===================================================

.hero-portf {
	// .hero-portf__container
	&__container {
	}

	// .hero-portf__title
	&__title {
		max-width: 750px;
		margin: 0 auto toRem(38);
		text-align: center;
	}

	// .hero-portf__content
	&__content {
		max-width: toRem(1074);
		margin: 0 auto;
	}
}

.portf-tabs {
	// .portf-tabs__navigation
	&__navigation {
		display: flex;
		@include adaptiveValue("grid-column-gap", 14, 10, 0, 700, 400);
		@include adaptiveValue("grid-row-gap", 20, 15, 0, 700, 400);
		flex-wrap: wrap;

		max-width: toRem(1020);
		margin: 0 auto toRem(51);
	}

	// .portf-tabs__title
	&__title {
		@include adaptiveValue("padding-right", 19, 14, 0, 700, 400);
		@include adaptiveValue("padding-top", 10, 8, 0, 700, 400);
		@include adaptiveValue("padding-bottom", 10, 8, 0, 700, 400);
		@include adaptiveValue("padding-left", 19, 14, 0, 700, 400);

		background-color: transparent;
		border: 1px solid $neutral-white-7;
		border-radius: toRem(10);

		font-family: "Proxima Nova", sans-serif;
		@include adaptiveValue("font-size", 20, 15, 0, 700, 400);
		font-weight: 500;
		line-height: 121%;
		text-transform: uppercase;

		transition:
			color 0.3s ease,
			border-color 0.3s ease,
			background-color 0.3s ease;

		&._tab-active {
			color: $accentColor;
			border-color: $accentColor;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(255, 90, 87, 0.147);
				border-color: $accentColor;
			}
		}
	}

	// .portf-tabs__content
	&__content {
	}

	// .portf-tabs__body
	&__body {
	}

	// .portf-tabs__gallery
	&__gallery {
	}
}

.gallery-portf {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: toRem(24);
	grid-row-gap: toRem(22);

	@media (max-width: $tablet) {
		grid-column-gap: toRem(16);
		grid-row-gap: toRem(15);
	}

	@media (max-width: em(650)) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: em(450)) {
		grid-gap: toRem(8);
	}

	// .gallery-portf__item
	&__item {
	}

	// .gallery-portf__image
	&__image {
		aspect-ratio: 341 / 379;

		overflow: hidden;
		border-radius: toRem(8);
	}
}

// =================================================== >>> HERO - section =====
