// ===== HERO - section >>> ===================================================

.hero-portf {
	// .hero-portf__container
	&__container {
	}

	// .hero-portf__title
	&__title {
		max-width: 750px;
		margin: 0 auto toRem(38);
		text-align: center;

		// Animation
		opacity: 0;
		transform: translate(toRem(20), 0);

		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
			transition:
				transform 1s ease 0.3s,
				opacity 1s ease 0.3s;
		}
	}

	// .hero-portf__content
	&__content {
		max-width: toRem(1074);
		margin: 0 auto;
	}
}

.portf-tabs {
	// .portf-tabs__navigation
	&__navigation {
		display: flex;
		@include adaptiveValue("grid-column-gap", 14, 10, 0, 700, 400);
		@include adaptiveValue("grid-row-gap", 20, 15, 0, 700, 400);
		flex-wrap: wrap;

		max-width: toRem(1020);
		margin: 0 auto toRem(51);

		// Animation
		opacity: 0;
		transform: translate(toRem(-40), 0);

		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
			transition:
				transform 1s ease 0.7s,
				opacity 1s ease 0.7s;
		}
	}

	// .portf-tabs__title
	&__title {
	}

	// .portf-tabs__content
	&__content {
	}

	// .portf-tabs__body
	&__body {
	}

	// .portf-tabs__gallery
	&__gallery {
	}
}

.gallery-portf {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: toRem(24);
	grid-row-gap: toRem(22);

	@media (max-width: $tablet) {
		grid-column-gap: toRem(16);
		grid-row-gap: toRem(15);
	}

	@media (max-width: em(650)) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: em(450)) {
		grid-gap: toRem(8);
	}

	// .gallery-portf__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				& .gallery-portf__image img {
					transform: scale(1.1);
				}
			}
		}
	}

	// .gallery-portf__image
	&__image {
		aspect-ratio: 341 / 379;

		overflow: hidden;
		border-radius: toRem(8);

		& img {
			transform: scale(1);
			transition: transform 0.3s ease 0s;
		}
	}
}

// =================================================== >>> HERO - section =====
