// ===== HERO - section >>> ===================================================

.hero-serv {
	// .hero-serv__container
	&__container {
	}

	// .hero-serv__wrapper
	&__wrapper {
		display: flex;
		gap: toRem(30);
		justify-content: space-between;

		max-width: toRem(1074);
		margin: 0 auto;

		@media (max-width: $tablet) {
			gap: toRem(15);
		}

		@media (max-width: $mobileSmall) {
			flex-direction: column;
			gap: toRem(50);
		}
	}

	// .hero-serv__content
	&__content {
		max-width: toRem(550);
		padding-top: toRem(44);

		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .hero-serv__title
	&__title {
		margin-bottom: toRem(17);
	}

	// .hero-serv__subtitle
	&__subtitle {
	}

	// .hero-serv__decor
	&__decor {
		flex: 0 0 40.782123%; /* 438/1074 */

		display: flex;
		gap: toRem(1);
		align-items: flex-end;

		@media (max-width: $mobileSmall) {
			max-width: toRem(300);
			margin: 0 auto;
		}
	}

	// .hero-serv__image-sm
	&__image-sm {
		& img {
			width: 100%;
		}
	}

	// .hero-serv__image
	&__image {
		transform: translate(toRem(11), 0);

		& img {
			width: 100%;
		}
	}
}

// =================================================== >>> HERO - section =====
