.advantages {
	// .advantages__container
	&__container {
	}

	// .advantages__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: toRem(25);

		max-width: toRem(1090);
		margin: 0 auto;
	}

	// .advantages__item
	&__item {
		position: relative;
		z-index: 1;

		flex: 0 0 toRem(252);
		padding: toRem(37) toRem(27) toRem(41);

		background: rgb(255, 255, 255);
		border-radius: toRem(8);
		cursor: pointer;

		text-align: center;
		font-weight: 900;

		transition: all 0.9s ease 0s;

		@media (min-width: $tablet) {
			box-shadow: 0px 2.66px 12.62px 0px rgba(179, 179, 179, 0.25);
		}

		@media (max-width: $tablet) {
			padding: toRem(25) toRem(27) toRem(30);
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: toRem(8);

			background-image: image-set(
				url("@img/advantages/item-bg@2x.png") 2x,
				url("@img/advantages/item-bg@1x.png") 1x
			);
			background-position: center center; /* x y */
			background-size: cover;
			background-repeat: no-repeat;

			opacity: 0;
			z-index: -1;
			transition: all 0.3s ease-out 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}

				& .advantages__subtitle {
					color: $neutral-white-1;
				}

				& .advantages__txt {
					color: $neutral-grey-4;
				}
			}
		}

		// @media (max-width: $tablet) {
		// 	&::before {
		// 		opacity: 1;
		// 	}

		// 	& .advantages__subtitle {
		// 		color: $neutral-white-1;
		// 	}

		// 	& .advantages__txt {
		// 		color: $neutral-grey-4;
		// 	}
		// }

		@media (max-width: $tablet) {
			border: 1px solid $mainColor;
		}
	}

	// .advantages__num
	&__num {
		margin-bottom: toRem(20);

		color: $accentColor;

		font-family: "Proxima Nova", sans-serif;
		@include adaptiveValue("font-size", 43, 30, 0, 991, 479);
		line-height: 121%;

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(12);
		}
	}

	// .advantages__subtitle
	&__subtitle {
		@include adaptiveValue("margin-bottom", 9, 5, 0, 991, 479);

		font-family: "Proxima Nova", sans-serif;
		@include adaptiveValue("font-size", 20, 17, 0, 991, 479);
		line-height: 121%;
		text-transform: uppercase;

		transition: color 0.3s ease 0s;
	}

	// .advantages__txt
	&__txt {
		color: $neutral-grey-2;

		@include adaptiveValue("font-size", 16, 14, 0, 991, 479);
		font-weight: 500;
		line-height: 143.75%; /* 23/16 */

		transition: color 0.3s ease 0s;
	}
}
