.services {
	background: linear-gradient(133.24deg, rgb(12, 8, 30) 0%, rgb(12, 5, 33) 82.245%);
	// .services__container
	&__container {
	}

	// .services__title
	&__title {
		max-width: toRem(651);
		margin: 0 auto;
		margin-bottom: toRem(40);

		text-align: center;

		& .title.title--h2 {
			margin-bottom: toRem(11);

			color: $neutral-white-1;

			& p {
				margin-bottom: toRem(2);
			}
		}
	}

	// .services__subtitle
	&__subtitle {
		color: $neutral-white-1;

		@include adaptiveValue("font-size", 16, 13, 0, 1200, 380);
		font-weight: 500;
		line-height: 150%; /* 24/16 */

		@media (max-width: $tablet) {
			font-weight: 400;
		}
	}

	// .services__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: toRem(40);
	}

	// .services__item
	&__item {
		flex: 0 1 toRem(520);
	}

	// services__item .serv-list
	& .serv-list {
		&:last-child {
			&::before {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				top: toRem(-340);
				left: toRem(-180);
				background-image: url("@img/home/services/glare-right.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		&:first-child {
			&::after {
				content: "";
				position: absolute;
				width: toRem(1095);
				height: toRem(1028);
				bottom: toRem(-155);
				right: toRem(-380);
				background-image: url("@img/home/services/glare-left.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
}
