//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(12) toRem(32);

	color: $neutral-white-1;
	background-color: $accentColor;
	border-radius: toRem(6);

	font-size: toRem(14);
	font-weight: 700;
	text-transform: uppercase;

	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $accentColor;
			background-color: rgba(255, 90, 87, 0.1);
			outline: 1px solid $accentColor;
		}
	}

	&--outline {
		padding: toRem(12) toRem(18);

		color: $accentColor;
		background-color: $neutral-white-1;
	}

	&--md {
		padding: toRem(12) toRem(20);

		@include adaptiveValue("font-size", 18, 17, 0, 991, 550);
		font-weight: 500;
		line-height: 142.52%;
	}

	&--lg {
		padding: toRem(16) toRem(54);

		font-size: toRem(24);
		@include adaptiveValue("font-size", 24, 17, 0, 1200, 768);
		font-weight: 500;
		line-height: 142.52%;
	}

	&--fw {
		justify-content: center;
		align-items: center;

		width: 100%;
	}
}
