//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(12) toRem(32);

	color: $neutral-white-1;
	background-color: $accentColor;
	border: 1px solid $accentColor;
	border-radius: toRem(6);

	font-size: toRem(14);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;

	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $neutral-grey-3;
			background-color: rgba(255, 90, 87, 0.1);
		}
	}

	&--md {
		align-items: center;
		justify-content: center;

		padding: 0 toRem(20);
		min-width: toRem(180);
		min-height: toRem(50);

		@include adaptiveValue("font-size", 18, 17, 0, 991, 550);
		font-weight: 500;
		line-height: 142.52%;
	}

	&--lg {
		padding: toRem(16) toRem(50);

		border-radius: toRem(15);

		font-size: toRem(24);
		@include adaptiveValue("font-size", 24, 17, 0, 1200, 768);
		font-weight: 500;
		line-height: 142.52%;
	}

	&--outline {
		//padding: toRem(14) toRem(54);

		color: $accentColor;
		background-color: $neutral-white-1;

		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $accentColor;
				// color: $neutral-white-1;
			}
		}
	}

	&--fw {
		justify-content: center;
		align-items: center;

		width: 100%;
	}
}

.button-prev {
	& svg {
		transform: rotate(-180deg);
	}
}

.button-prev,
.button-next {
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			& svg {
				stroke: $accentColor;
				transition: all 0.3s ease 0s;
			}
		}
	}

	& svg {
		aspect-ratio: 1 / 1;
		@include adaptiveValue("width", 61, 50, 0, 991, 380);

		stroke: $contrast-2;
		fill: transparent;

		transition: all 0.3s ease 0s;
	}
}

.button-tab {
	@include adaptiveValue("padding-right", 19, 14, 0, 700, 400);
	@include adaptiveValue("padding-top", 10, 8, 0, 700, 400);
	@include adaptiveValue("padding-bottom", 10, 8, 0, 700, 400);
	@include adaptiveValue("padding-left", 19, 14, 0, 700, 400);

	background-color: transparent;
	border: 1px solid $neutral-white-7;
	border-radius: toRem(10);

	font-family: "Proxima Nova", sans-serif;
	@include adaptiveValue("font-size", 20, 15, 0, 700, 400);
	font-weight: 500;
	line-height: 121%;
	text-transform: uppercase;

	transition:
		color 0.3s ease,
		border-color 0.3s ease,
		background-color 0.3s ease;

	&._tab-active {
		color: $accentColor;
		border-color: $accentColor;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: rgba(255, 90, 87, 0.1);
			border-color: $accentColor;
		}
	}
}
