// ===== HERO - section >>> ===================================================

.hero {
	// .hero__container
	&__container {
		display: grid;
		grid-template-columns: 44.098361% 50%; /* 610/1220 */
		gap: toRem(30);

		@media (max-width: em(1020)) {
			grid-template-columns: 46% auto;
		}

		@media (max-width: em(930)) {
			grid-template-columns: 1fr auto; /* 610/1220 */
		}

		@media (max-width: em(729.98)) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
		}
	}

	// .hero__content
	&__content {
		@media (min-width: $tablet) {
			padding-top: toRem(89);
		}
	}

	// .hero__media
	&__media {
		height: 100%;
	}
}

.content-hero {
	position: relative;
	z-index: 3;

	@media (max-width: em(729.98)) {
		text-align: center;
	}

	// .content-hero__title
	&__title {
		display: inline-block;

		margin-bottom: toRem(8);

		// Animation
		opacity: 0;

		&._watcher-view {
			opacity: 1;
			transition: opacity 1s ease 0.1s;
		}
	}

	// .content-hero__subtitle
	&__subtitle {
		margin-bottom: toRem(19);

		@include adaptiveValue("font-size", 24, 18, 0, 1440, 380);
		font-weight: 700;
		line-height: 142.52%;

		// Animation
		opacity: 0;

		&._watcher-view {
			opacity: 1;
			transition: opacity 1s ease 0.3s;
		}

		@media (max-width: $tablet) {
			font-weight: 600;
		}
	}

	// .content-hero__txt
	&__txt {
		margin-bottom: toRem(29);

		// Animation
		opacity: 0;

		&._watcher-view {
			opacity: 1;
			transition: opacity 1s ease 0.6s;
		}
	}

	// .content-hero__btn-panel
	&__btn-panel {
		display: flex;
		gap: toRem(21);
		flex-wrap: wrap;

		// Animation
		opacity: 0;

		&._watcher-view {
			opacity: 1;
			transition: opacity 1s ease 0.9s;
		}

		@media (min-width: em(730)) {
			margin-bottom: toRem(60);
		}

		@media (max-width: em(729.98)) {
			justify-content: center;
		}
	}
}

.media-hero {
	position: relative;

	display: grid;
	gap: toRem(19);

	@media (min-width: $tablet) {
		padding-top: toRem(29);
	}

	@media (max-width: $tablet) {
		gap: toRem(50);
	}

	@media (min-width: em(730)) {
		overflow: hidden;
	}

	// .media-hero__web-decor
	&__web-decor {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(toRem(-15), 0);

		aspect-ratio: 543 / 540;
		width: toRem(543);

		@media (min-width: $tablet) {
			// Animation
			transform: scale(0.1);

			&._watcher-view {
				transform: scale(1);
				transition: transform 2.5s ease 0.5s;
			}
		}

		@media (max-width: em(729.98)) {
			top: auto;
			bottom: 20%;
			left: 50%;
			transform: translate(-50%, 0);
			width: 100%;
			height: 100%;
		}
	}

	// .media-hero__photo-group
	&__photo-group {
		position: relative;

		justify-self: end;
		align-self: start;

		display: flex;
		gap: toRem(19);

		//aspect-ratio: 279 / 339;
		width: 45.737705%; /* 279/610 */

		@media (max-width: $tablet) {
			gap: toRem(35);

			width: 60%;
		}

		@media (min-width: em(730)) {
			margin-right: toRem(18);
		}

		@media (max-width: em(729.98)) {
			justify-content: flex-end;
		}
	}

	// .media-hero__main-photo
	&__main-photo {
		position: absolute;
		bottom: 0;

		width: 61.803279%; /* 377/610 */

		@media (min-width: $tablet) {
			left: toRem(60);
		}
		& img {
			aspect-ratio: 377 / 549;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .media-hero__play-link
	&__play-link {
		margin-bottom: toRem(136);

		justify-self: start;
		align-self: start;

		position: relative;

		display: inline-flex;
		align-items: center;
		gap: toRem(10);

		padding: toRem(6) toRem(14) toRem(6) toRem(8);

		border-radius: 58.5px;
		box-shadow: 0px 3px 68.25px 0px rgba(152, 152, 152, 0.25);
		background: rgb(255, 255, 255);

		transition: background 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background: #ebebeb;

				& p {
					text-decoration: underline;
				}
			}
		}

		& svg {
			width: toRem(65.5);
			height: toRem(65.5);
			& use {
				color: $accentColor;
			}
		}

		& p {
			text-align: center;
			color: $contrast-2;

			font-size: toRem(14);
			font-weight: 500;
			line-height: 142.857143%; /* 20/14 */
		}

		@media (min-width: $tablet) {
			// Animation
			transform: rotate(15deg) scale(0.7);
			opacity: 0;

			&._watcher-view {
				transform: rotate(0) scale(1);
				opacity: 1;
				transition:
					opacity 1s 0.5s,
					transform 1.5s ease 0.5s;
			}
		}

		@media (max-width: $tablet) {
			margin-bottom: toRem(60);
			align-self: end;
		}

		@media (max-width: $mobileSmall) {
			justify-self: center;
		}
	}
}

.group-photo {
	// .group-photo__column
	&__column {
		display: flex;
		flex-direction: column;
		gap: toRem(14);

		transform: translate(0, toRem(-20));
	}

	&._watcher-view {
		.group-photo__column:first-child {
			transform: translate(0, 0);
			transition: transform 1.8s ease 0.5s;
		}
		.group-photo__column:last-child {
			transform: translate(0, toRem(40));
			transition: transform 1.8s ease 0.5s;
		}
	}

	// .group-photo__item
	&__item {
		width: 100%;
		height: auto;
		position: relative;
	}

	// .group-photo__img
	&__img {
		border-radius: toRem(14);
		overflow: hidden;

		width: 100%; /* 377/610 */
		& img {
			aspect-ratio: 130 / 163;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .group-photo__icon
	&__icon {
		position: absolute;
		bottom: toRem(4);
		right: toRem(6);

		display: flex;
		align-items: center;
		justify-content: center;

		// height: toRem(45);
		aspect-ratio: 1 / 1;
		width: 34.615385%; /* 45/130 */

		background-color: $neutral-white-1;
		border-radius: 50%;
		overflow: hidden;

		& img {
			//height: toRem(39);
			width: 86.666667%; /* 39/45 */
		}
	}
}
// =================================================== >>> HERO - section =====

// ===== PARTNERS - section >>> ===============================================

.partners {
	background: linear-gradient(138.22deg, rgb(12, 8, 30) 0%, rgb(12, 5, 33) 83.914%);
	// .partners__container
	&__container {
		position: relative;

		overflow: hidden;
	}

	// .partners__glare-img
	&__glare-img {
		position: absolute;

		width: toRem(990);
		height: toRem(713);

		transform: rotate(-15deg);

		// .partners__glare-img_left
		&_left {
			top: toRem(-90);
			left: toRem(-70);
		}

		// .partners__glare-img_right
		&_right {
			top: toRem(-300);
			right: toRem(-250);
		}
	}

	// .partners__list
	&__list {
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		align-items: center;

		max-width: toRem(1090);
		margin: 0 auto;
		@include adaptiveValue("padding-top", 47, 20, 0, 1440, 768);
		@include adaptiveValue("padding-bottom", 47, 20, 0, 1440, 768);

		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
		}
	}

	// .partners__item
	&__item {
		opacity: 0.3;
		transition: opacity 0.3s ease 0s;
		max-height: toRem(77);

		@media (max-width: $mobileSmall) {
			height: toRem(30);
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}

		& svg {
			max-height: 100%;
			width: 100%;
		}
	}
}
// =============================================== >>> PARTNERS - section =====

// ===== ABOUT-US - section >>> ===============================================

.about-us {
	// .about-us__main-title
	&__main-title {
		margin-bottom: toRem(55);
	}

	// .about-us__container
	&__container {
		text-align: center;
	}

	// .about-us__title
	&__title {
		margin-bottom: toRem(10);
	}

	// .about-us__txt
	&__txt {
		max-width: toRem(630);
		margin: 0 auto;
	}

	// .about-us__advantages
	&__advantages {
		margin-bottom: toRem(93);
	}

	// .about-us__article
	&__article {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 223, 90, 0, 991, 600);
		}
	}
}

.article-about {
	// .article-about__container
	&__container {
	}

	// .article-about__body
	&__body {
		display: flex;
		gap: toRem(70);
		align-items: center;
		justify-content: space-between;

		max-width: toRem(1090);
		margin: 0 auto;

		@media (max-width: $mobile) {
			gap: toRem(40);
		}

		@media (min-width: em(600)) {
		}

		@media (max-width: em(599.98)) {
			align-items: center;
			text-align: center;
		}

		// . article-about__body_right
		&_right {
			@media (max-width: em(599.98)) {
				flex-direction: column;
			}
		}

		// . article-about__body_left
		&_left {
			@media (max-width: em(599.98)) {
				flex-direction: column-reverse;
			}
		}
	}

	// .article-about__content
	&__content {
	}

	// .article-about__block-title
	&__block-title {
		margin-bottom: toRem(11);
	}

	// .article-about__block-subtitle
	&__block-subtitle {
		margin-bottom: toRem(6);

		@include adaptiveValue("font-size", 18, 15, 0, 1440, 380);
		font-weight: 700;
		line-height: 150%; /* 27/18 */
	}

	// .article-about__block-txt
	&__block-txt {
		max-width: toRem(480);
		margin-bottom: toRem(22);

		font-weight: 500;
		line-height: 150%; /* 24/16 */
	}

	// .article-about__decor
	&__decor {
		@media (min-width: em(600)) {
			flex: 0 1 toRem(501);
		}

		@media (max-width: em(599.98)) {
			max-width: toRem(501);
		}
	}

	// .article-about__btn
	&__btn {
	}
}

.about-decor {
	// .about-decor__body
	&__body {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		grid-column-gap: 3.592814%; /* 18/501 */
		grid-row-gap: 4.534005%; /* 18/397 */

		aspect-ratio: 501 / 397;
		max-width: toRem(501);

		// .about-decor__body_right
		&_right {
			& .about-decor__photo {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			& .about-decor__lg-pic-bl {
				grid-column: 2 / -1;
				grid-row: 1 / -1;
			}

			& .about-decor__icon {
				grid-column: 1 / 2;
				grid-row: 2 / -1;
			}

			& .about-decor__main-photo {
				right: toRem(-8);

				width: 148.117155%; /* 354/239 */
			}
		}

		// .about-decor__body_left
		&_left {
			& .about-decor__lg-pic-bl {
				grid-column: 1 / 2;
				grid-row: 1 / -1;
			}

			& .about-decor__icon {
				grid-column: 2 / -1;
				grid-row: 1 / 2;
			}

			& .about-decor__main-photo {
				left: toRem(-14);

				width: 127.615063%; /* 305/239 */
			}
		}
	}

	// .about-decor__item
	&__item {
		border-radius: toRem(8);
		overflow: hidden;
	}

	// .about-decor__photo
	&__photo {
		position: relative;
		z-index: -1;

		aspect-ratio: 239 / 188;
	}

	// .about-decor__lg-pic-bl
	&__lg-pic-bl {
		position: relative;
		overflow: visible;

		aspect-ratio: 239 / 393;

		background-image: image-set(
			url("@img/home/about-us/about-01@2x.jpeg") 2x,
			url("@img/home/about-us/about-01@1x.jpeg") 1x
		);
		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .about-decor__web-icon
	&__web-icon {
		width: 87.029289%; /* 208/239 */
		margin: 7.304786% auto 0;
		& img {
			width: 100%;
		}
	}

	// .about-decor__main-photo
	&__main-photo {
		position: absolute;
		z-index: 5;
		bottom: 0;

		aspect-ratio: 354 / 421;
		height: 106.04534%; /* 421/397 */
	}

	// .about-decor__icon
	&__icon {
		position: relative;
		z-index: -1;

		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 239 / 188;

		background-color: $accentColor;

		// .about-decor__icon_brief-logo
		&_brief-logo {
			& svg {
				width: 47.698745%; /* 114/239 */
			}
		}

		// .about-decor__icon_lorem
		&_lorem {
			& svg {
				height: 48.93617%; /* 92/188 */
			}
		}

		& svg {
			fill: $neutral-white-1;
		}
	}
}

// =============================================== >>> ABOUT-US - section =====

// ===== PORTFOLIO - section >>> ===============================================

.portfolio {
	// .portfolio__title
	&__title {
	}

	// .portfolio__container
	&__container {
	}

	// .portfolio__txt
	&__txt {
	}

	// .portfolio__content
	&__content {
	}

	// .portfolio__slider
	&__slider {
	}
}

.slider-portf {
	// .slider-portf__wrapper
	&__wrapper {
	}

	// .slider-portf__slide
	&__slide {
	}

	// .slider-portf__slide-img
	&__slide-img {
	}

	// .slider-portf__slide-img-link
	&__slide-img-link {
	}

	// .slider-portf__slide-title
	&__slide-title {
	}

	// .slider-portf__slide-link
	&__slide-link {
	}

	// .slider-portf__button-next
	&__button-next {
	}

	// .slider-portf__button-prev
	&__button-prev {
	}

	// .slider-portf__pagination
	&__pagination {
	}

	// .slider-portf__btn
	&__btn {
	}
}

// =============================================== >>> PORTFOLIO - section =====
