@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins", sans-serif;
$fontSize: toRem(18); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #30325b; // Колір шрифту за замовчуванням
$accentColor: #ff5a57;
$neutral-white-1: #fff;
$neutral-white-2: #f9f9f9;
$neutral-white-3: #f4efff;
$neutral-white-4: #ededed;
$neutral-white-5: #e2e2e2;
$neutral-white-6: #fcfcfc;
$neutral-white-7: #f2f2f2;
$neutral-grey-1: #b0b0b0;
$neutral-grey-2: #8c8d94;
$neutral-grey-3: #777;
$neutral-grey-4: #cfd0e7;
$neutral-grey-5: #d9d9d9;
$neutral-grey-6: #9f9f9f;
$neutral-grey-7: #7c7c7c;
$neutral-grey-8: #cecece;
$contrast-1: #16004d;
$contrast-2: #605282;
$contrast-3: #0d0622;

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
		transition: opacity 0.3s ease 0s;
		opacity: 1;
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";
@import "blocks/advantages";
@import "blocks/home-services";
@import "blocks/form-block";
@import "pages/our-services";
// Підключення стилів окремих сторінок
@import "home";
@import "pages/about-us";
@import "pages/services";
@import "pages/portfolio";
@import "pages/studies";

// ==================== PAGE ===========================

.page {
	// === HOME - PAGE ===========================
	// .page__hero
	&__hero {
	}
	// .page__partners
	&__partners {
	}
	// .page__advantages
	&__advantages {
	}
	// .page__about-us
	&__about-us {
		@include adaptiveValue("padding-top", 90, 60, 0, 991, 380);
		@include adaptiveValue("padding-bottom", 110, 90, 0, 991, 380);
	}
	// .page__services
	&__services {
		padding: toRem(101) toRem(0) toRem(138);

		@media (max-width: $tablet) {
			padding: toRem(70) toRem(0) toRem(80);
		}
	}
	// .page__portfolio
	&__portfolio {
		padding: toRem(85) toRem(0) toRem(140);

		@media (max-width: $tablet) {
			padding: toRem(70) toRem(0) toRem(80);
		}
	}
	// .page__studies
	&__studies {
		padding: toRem(160) toRem(0) toRem(130);

		@media (max-width: em(1200)) {
			padding-top: toRem(130);
		}

		@media (max-width: $tablet) {
			padding: toRem(90) toRem(0) toRem(100);
		}

		@media (max-width: $mobile) {
			padding: toRem(70) toRem(0) toRem(80);
		}
	}
	// .page__blog
	&__blog {
		padding-top: toRem(115);
		margin-bottom: toRem(110);

		@media (max-width: $tablet) {
			padding-top: toRem(90);
			margin-bottom: toRem(100);
		}

		@media (max-width: $mobile) {
			padding-top: toRem(70);
			margin-bottom: toRem(80);
		}
	}
	// .page__careers
	&__careers {
		padding-top: toRem(100);
		margin-bottom: toRem(110);

		@media (max-width: $tablet) {
			padding-top: toRem(90);
			margin-bottom: toRem(100);
		}

		@media (max-width: $mobile) {
			padding-top: toRem(70);
			margin-bottom: toRem(80);
		}
	}
	// .page__form
	&__form {
		padding: toRem(124) toRem(0) toRem(147);

		@media (max-width: em(999)) {
			padding: toRem(80) toRem(0) toRem(90);
		}

		@media (max-width: em(550)) {
			padding: toRem(60) toRem(0) toRem(70);
		}
	}
	// === SERVICES - PAGE ===========================
	// .page__our-services
	&__our-services {
		padding-top: toRem(100);
		margin-bottom: toRem(65);
	}
}

// ==================== ABOUT-US =======================

.page-about {
	// .page-about__hero
	&__hero {
		@include adaptiveValue("padding-top", 110, 50, 0, 1440, 500);
		margin-bottom: toRem(50);
	}
	// .page-about__descript
	&__descript {
		padding-top: toRem(30);
		margin-bottom: toRem(70);
	}
	// .page-about__salary
	&__salary {
		padding-top: toRem(50);
		margin-bottom: toRem(120);

		@media (max-width: $mobileSmall) {
			padding-top: toRem(30);
		}
	}
	// .page-about__why
	&__why {
		margin-bottom: toRem(60);
	}
	// .page-about__explore
	&__explore {
		@include adaptiveValue("margin-bottom", 100, 30, 0, 1200, 500);
		@include adaptiveValue("padding-bottom", 137, 30, 0, 991, 500);
		@include adaptiveValue("padding-top", 60, 30, 0, 991, 500);
	}
	// .page-about__how
	&__how {
		margin-bottom: toRem(137);
		@include adaptiveValue("padding-top", 70, 40, 0, 1200, 500);
	}
	// .page-about__team
	&__team {
		@include adaptiveValue("padding-bottom", 233, 100, 0, 1200, 500);
		@include adaptiveValue("padding-top", 151, 80, 0, 1200, 500);
	}
}

// ==================== SERVICES =======================

.page-services {
	// .page-services__hero
	&__hero {
		@include adaptiveValue("margin-top", 93, 15, 0, 991, 650);
		@include adaptiveValue("margin-bottom", 100, 50, 0, 991, 650);
	}
	// .page-services__managed-serv
	&__managed-serv {
		@include adaptiveValue("margin-bottom", 100, 50, 0, 1200, 650);
		@include adaptiveValue("padding-top", 116, 60, 0, 1200, 650);
		@include adaptiveValue("padding-bottom", 144, 80, 0, 1200, 650);
	}
	// .page-services__info
	&__info {
		margin-top: toRem(45);
	}
}

// ==================== PORTFOLIO ======================

.page-portf {
	// .page-portf__hero
	&__hero {
		@include adaptiveValue("margin-top", 65, 35, 0, 1200, 650);
		margin-bottom: toRem(50);
	}

	& .advantages {
		padding-top: toRem(44);
		@include adaptiveValue("margin-bottom", 118, 65, 0, 1200, 650);
	}
}

// ==================== STUDIES ======================

.page-studies {
	// .page-studies__hero
	&__hero {
		@include adaptiveValue("padding-top", 64, 35, 0, 1200, 650);
		margin-bottom: toRem(87);
	}
	// .page-studies__call
	&__call {
	}
}
